.sprite {
  background-image: url('../../images/sprite.png');
}

.sprite-osubuntu {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-00 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-01 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-02 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-03 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-04 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-05 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-jhb-lin-38 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-osubuntu-wks-dbn-lin-00 {
  background-image: url('../../images/software/osubuntu3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-tst-ppm-infra-01-os {
  background-image: url('../../images/software/osubuntuserver3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-tst-ppm-infra-02-os {
  background-image: url('../../images/software/osubuntuserver3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-stg-ppm-infra-01-os {
  background-image: url('../../images/software/osubuntuserver3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-stg-ppm-infra-02-os {
  background-image: url('../../images/software/osubuntuserver3d.png');
  background-position: -3px -4px;
  width: 38px;
  height: 35px;
}

.sprite-dev-ppm-vm-00-os {
  background-image: url('../../images/software/kvmosubuntu3d.png');
  background-position: 0px -2px;
  width: 39px;
  height: 38px;
}

.sprite-dev-ppm-vm-01-os {
  background-image: url('../../images/software/kvmosubuntu3d.png');
  background-position: 0px -2px;
  width: 39px;
  height: 38px;
}

.sprite-dev-ppm-vm-02-os {
  background-image: url('../../images/software/kvmosubuntu3d.png');
  background-position: 0px -2px;
  width: 39px;
  height: 38px;
}

.sprite-dev-ppm-vm-03-os {
  background-image: url('../../images/software/kvmosubuntu3d.png');
  background-position: 0px -2px;
  width: 39px;
  height: 38px;
}

